# VS Code settings
.vscode/

# OS metadata
.DS_Store
Thumbs.db

# Node dependencies (if added later)
node_modules/
dist/
build/
.env

# Backend Ignores
mocha-backend/node_modules/
mocha-backend/.env
mocha-backend/firebaseKey.json
